{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="{% static 'images/carusel1.jpg' %}" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="{% static 'images/carusel2.jpg' %}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>

    <section class="container2">
        <h1 class="text1">Виды транспорта</h1>
        {% if services %}
            {% for service in services %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                {% endif %}
                <div class="col">
                    <div class="card">
                        <img src="{{ service.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.title }}</h5>
                            <p class="card-price">{{ service.price }} сомов/час</p>
                            {% if service.weight == '...' %}
                                <p class="card-text">...</p>
                            {% else %}
                                <p class="card-text">До {{ service.weight }} тонн(ы)</p>
                            {% endif %}
                            <button type="button" class="btn btn-primary orderBtn" data-product-image="{{ service.image.url }}" data-product-name="{{ service.title }}" data-product-price="{{ service.price }}">Заказать</button>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Ничего не найдено</h3>
        {% endif %}
    </section>

    <script>
    document.querySelectorAll('.orderBtn').forEach(function(btn) {
        btn.addEventListener('click', function() {
            var productImage = this.getAttribute('data-product-image');
            var productName = this.getAttribute('data-product-name');
            var productPrice = this.getAttribute('data-product-price');
            var phoneNumber = '996702813002';

            // Создание HTML-разметки для сообщения
            var message = '<strong>Хочу заказать:</strong> ' + productName + ', <strong>Цена:</strong> ' + productPrice + '<br>';
            message += '<img src="' + productImage + '" alt="Product Image" style="max-width: 200px;"><br>';
            message += 'Изображение: ' + productImage;

            // Кодирование только текста сообщения для URL
            var encodedMessage = encodeURIComponent(message);
            // Формирование ссылки WhatsApp
            var whatsappUrl = 'https://wa.me/' + phoneNumber + '?text=' + encodedMessage;

            // Открытие ссылки в новом окне
            window.open(whatsappUrl, '_blank');
        });
    });
</script>



{% endblock %}
