{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="https://res.cloudinary.com/dbt4mnsbq/image/upload/v1711217024/samples/carusel3_g2xlr1.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://res.cloudinary.com/dbt4mnsbq/image/upload/v1711220666/samples/carusel2_yoxy1n.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="https://res.cloudinary.com/dbt4mnsbq/image/upload/v1711220399/samples/carusel4_f6l0st.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"></span>
      </button>
    </div>

    <section class="container2">
        <h1 class="text1">Услуги</h1>
        {% if services %}
            {% for service in services %}
                {% if forloop.counter0|divisibleby:3 %}
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                {% endif %}
                <div class="col">
                    <div class="card">
                        <img src="{{ service.image.url }}" class="card-img-top original-size" style="width: 350px; height: 200px; object-fit: cover;" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.title }}</h5>
                            <p class="card-price">{{ service.price }} сомов/час</p>
                            {% if service.weight == '...' %}
                                <p class="card-text">...</p>
                            {% else %}
                                <p class="card-text">До {{ service.weight }} тонн(ы)</p>
                            {% endif %}
                            <div class="button-container">
                                <button type="button" class="btn btn-primary orderBtn" data-product-url="{{ service_url }}" 
                                data-product-name="{{ service.title }}" data-product-price="{{ service.price }}">Заказать</button>
                                <a href="{{ service.get_absolute_url }}" class="btn btn-info">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <h3>Ничего не найдено</h3>
        {% endif %}
    </section>

    <script>
        document.querySelectorAll('.orderBtn').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var productName = this.getAttribute('data-product-name');
                var productPrice = this.getAttribute('data-product-price');
                var productUrl = this.getAttribute('data-product-url');
                var phoneNumber = '996708614148';

                // Формирование текстового сообщения для WhatsApp с информацией о товаре
                var message = 'Хочу заказать: ' + productName + ', Цена: ' + productPrice + '\n';
                message += 'Подробнее: ' + productUrl;

                // Кодирование сообщения для URL
                var encodedMessage = encodeURIComponent(message);

                // Формирование ссылки WhatsApp с параметрами
                var whatsappUrl = 'https://wa.me/' + phoneNumber + '?text=' + encodedMessage;

                // Открытие ссылки в новом окне
                window.open(whatsappUrl, '_blank');
            });
        });
    </script>

    <section class="container3" id="about">
        <h2>О нашей компании</h2>
        <p>Мы - компания с 10 летним стажем, созданная с целью обеспечить наших клиентов надежными и качественными услугами в сфере транспорта, перевозок и доставки. Наша команда специализируется на предоставлении услуг такси, переездов, грузоперевозок, доставки грузов и многих других транспортных услуг.</p>
        <h3>Почему выбирают нас</h3>
        <ul>
            <li><strong>Профессионализм:</strong> Наша команда состоит из опытных и квалифицированных специалистов.</li>
            <li><strong>Удобство:</strong> Мы ценим ваше время и стараемся сделать процесс заказа и использования наших услуг максимально удобным и простым.</li>
            <li><strong>Надежность:</strong> Мы гарантируем надежность и безопасность наших услуг, чтобы вы могли быть уверены в том, что ваш груз или пассажиры доставлены вовремя и целыми.</li>
        </ul>
        <h4>Если вам нужны надежные транспортные услуги, обратитесь к нам! Мы всегда готовы помочь вам с вашими перевозками и доставкой.</h4>
    </section>

{% endblock %}
