{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="card mb-3 mx-auto overflow-hidden" style="margin-top: 10px; max-width: 700px;">
      <div style="background-color: white; display: flex; align-items: center; justify-content: center;">
        <img src="{{ service.image.url }}" class="img-fluid" alt="..." style="max-width: 100%; max-height: 100%;">
      </div>
      <div class="card-body">
            <h4 class="card-title">{{ service.title }}</h4>
            <h6 class="card-text">{{ service.price }} сомов/час</h6>
            <h6 class="card-text"><small class="text-muted">До {{ service.weight }} тонн(ы)</small></h6>
            <button type="button" class="btn btn-primary orderBtn" data-product-url="{{ service_url }}" data-product-name="{{ service.title }}" data-product-price="{{ service.price }}">Заказать</button>
      </div>
    </div>

    <script>
        document.querySelectorAll('.orderBtn').forEach(function(btn) {
            btn.addEventListener('click', function() {
                var productName = this.getAttribute('data-product-name');
                var productPrice = this.getAttribute('data-product-price');
                var productUrl = this.getAttribute('data-product-url');
                var phoneNumber = '996708614148';

                // Формирование текстового сообщения для WhatsApp с информацией о товаре и ссылкой на его страницу
                var message = 'Хочу заказать: ' + productName + ', Цена: ' + productPrice + '. Подробнее: ' + productUrl;

                // Кодирование сообщения для URL
                var encodedMessage = encodeURIComponent(message);

                // Формирование ссылки WhatsApp с параметрами
                var whatsappUrl = 'https://wa.me/' + phoneNumber + '?text=' + encodedMessage;

                // Открытие ссылки в новом окне
                window.open(whatsappUrl, '_blank');
            });
        });
    </script>

{% endblock %}
